 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p> 

<div>
{{#each machines}}
        <div class="container row">
            <div class="col-md-6">
            <p>Name : {{this.name}}</p>
            <p>ID : {{this.id}}</p>
            </div>
        <a class="btn btn-primary" href="/machine/{{this.id}}">More Details</a>
        <a class ="btn btn-default" href="/machine/update/{{this.id}}" >Update</a>
        </div>
      <br><br>
      {{/each}}
</div>      